.commentSection{
    margin: 50px 0;
}

.commentSection h2 {
    font-size: 18px;
    color: white; /* Mantém o texto visível em fundo escuro */
    margin-bottom: 10px; /* Adiciona espaçamento inferior */
}

.commentInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentInput textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #444444;
    background-color: transparent;
    color: white;
    font-size: 14px;
    padding: 10px 5px;
    resize: none;
    outline: none; /* Remove o contorno padrão */
    font-family: inherit; /* Garante que a fonte seja consistente */
}

.commentInput textarea::placeholder {
    color: #aaaaaa; /* Placeholder discreto */
    font-style: italic;
}
